.wrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: marquee var(--duration) infinite linear;
}

.children {
  white-space: nowrap;
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
