@import './reset.css';
@import './fonts.css';
@import './scroll.css';

*,
*:active,
*:focus {
  box-sizing: border-box;
  outline: none;
  cursor: none;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--fonts-body);
}

html,
body {
  overflow-x: hidden;
  background-color: var(--colors-black);
  scroll-behavior: smooth;
  color-scheme: dark;
}

main {
  background-color: var(--colors-white);
}

::selection {
  background-color: white;
  color: black;
  -webkit-text-fill-color: black;

  /* text-shadow: 0.03em 0.03em 0 rgb(0 0 0 / 80%), 0.03em -0.03em 0 rgb(0 0 0 / 60%), -0.03em 0.03em 0 rgb(0 0 0 / 50%); */
}

:root {
  --letter-size: 80px;
  --letter-width-ratio: 0.7;
  --letter-height-ratio: 0.8;
}

#playground {
  overflow: hidden;
  position: absolute;
  top: -800px;
  right: 0;
  left: 0;
  bottom: 0;
  border: solid 1px black;
  border-top: none;
}

#playground .letter {
  display: inline-block;
  margin: 2px;
  width: calc(var(--letter-size) * var(--letter-width-ratio));
  height: calc(var(--letter-size) * var(--letter-height-ratio));
  font-size: var(--letter-size);
  line-height: calc(var(--letter-size) * var(--letter-height-ratio));
  font-family: 'Basement Grotesque';
}

#playground .letter.outlined {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
}
