@import './reset.css';
@import './fonts.css';

*,
*:active,
*:focus {
  box-sizing: border-box;
  outline: none;
  cursor: none;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--fonts-body);
}

html,
body {
  overflow-x: hidden;
  background: #000;
}

main {
  background-color: var(--colors-white);
}
